body{
  margin:0;
}
h1{
  font-size:60px;
  text-align: center;
  margin:0;
  padding: 30px;
  border-bottom: 2px solid gray;
}
a{
  color:skyblue;
  text-decoration: none;
}
#grid{
  display: grid;
  grid-template-columns: 160px 1fr;
}
#grid ol{
  margin: 0;
  border-right: 2px solid gray;
  padding: 20px;
  padding-left: 40px;
  color:skyblue;
}
#grid #article{
  padding: 20px;
  padding-left: 35px;
}
@media(max-width: 600px){
  h1{
    font-size: 40px;
    border-bottom: none;
  }
  #grid{
    display: block;
  }
  #grid ol{
    border-right: none;
  }
}
